   <link href="/CSS/header.css" rel="stylesheet">


    <div class='header'>
            <div class="buttons">
            <a>
                <button class ="button" type="button" value="button"><span>login</span></button>
            </a>
            <a> 
                <button class ="button" type= "button" value= "button"><span>logout</span></button>
            </a>
        </div>
        <h1 style='text-align:center' id="fantasystock">Fantasy Stock</h1>
    </div>
