   <link href="/CSS/header.css" rel="stylesheet">

<div class='header'>
    <div class='log'>
        <div class="buttons">
            <a><button class ="button" type="button" value="button"><span>login</span></button></a>
            <a><button class ="button" type= "button" value= "button"><span>logout</span></button></a>
        </div>
    </div>
    <div class='money'>
         <span>$</span><span class='playerMoney'>100,000</span>
    </div>
</div>
<div class=title>
    <h1 style='text-align:center' id="fantasystock">Fantasy Stock</h1>
</div>
