<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="..Public/CSS/header.css" rel="stylesheet">
    <title>Document</title>
</head>
<body>

    <div class='header'>
        <p>login</p>
        <p>logout</p>
    
        <h1 style='text-align:center' id="fantasystock">FantasyStock</h1>
    </div>
    
</body>
</html>