<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/CSS/manager.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>

    <% include ./Partials/header.ejs %>

    <div class='container'>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>  
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>       

 

    </div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='/JS/manager.js'></script>
</body>
</html>