<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="/CSS/manager.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
</head>
<body>

    <% include ./Partials/header.ejs %>

    <div class='container'>
        <h1>Username</h1>
        <form class='form'>
        <div class='stockContainer'>
<<<<<<< HEAD
        <form class="stockContainer" action="/manager" method="POST">
        <p>stockSymbol:</p>
        <input class='input' type='text' name = 'stockSymbol'><br>
        <p>numberOfShares:</p>
        <input class='input' type='number' name = 'numberOfShares'><br>
        <p>userId:</p>
        <input class='input' type='number' name = 'userId'><br>

        </form>   
         <span>NYSE</span><span>000</span><span>500</span><span>$1,000.00</span><button>Purchase</button>
        </div>    
        <div class='stockContainer'>
            <span>NYSE</span><span>000</span><span>500</span><span>$1,000.00</span><button>Purchase</button>
=======
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
>>>>>>> master
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>  
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>
        <form class='form'>
        <div class='stockContainer'>
            <span class='symbol'></span><span class='price'></span><input type='text' placeholder='$$$$$'><button>Purchase</button>
        </div>
        </form>       

 

    </div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src='/JS/manager.js'></script>
</body>
</html>