<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="./CSS/login.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Bitter" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poiret+One" rel="stylesheet">
</head>
<body>
    <div class='container'>
        <div class='form'>
            <form action='/signup' method='POST' >
                <h1>Fantasy Stock</h1>
                <p>Username:</p>
                <input class='input' type='text' name='username'><br>
                <p>Email:</p>
                <input class='input' type='email' name='email'><br>
                <p>Password:</p>
                <input class='input' type='password' name='password'><br>
                <p>Re-enter Password</p>
                <input class='input' type='password' name='passwordMatch'><br>                
                <input class='submit' type='submit' value='Submit'>
            </form>
        </div>
    </div>
</body>
</html>
