body{
    background-color: #96E072;
    margin: 0;
}

.container {
    height: auto;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.profilePicture{
    display:flex;
    height:175px;
    width:100%;
    align-content: center;
    justify-content: center;


}

.profileNetWorthContainer{
    display:flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
    
}

.profileNetWorth{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 85%;
    background-color: #5F6062;
    font-family: 'Poiret One', cursive;
    color:white;
}

.profileLiquidAssetsContainer{
    display:flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.profileLiquidAssets{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 85%;
    background-color: #5F6062;
    font-family: 'Poiret One', cursive;
    color:white;
}

.unsernameContainer{
    display:flex;
    height: 100px;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-right: auto;

}

.username{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width:175px;
    background-color: #5F6062;
    font-family: 'Poiret One', cursive;
    color:white;
    margin:auto;
    
}

.stocksPurchasedContainer{
    display:flex;
    align-items: center;
    justify-content:center;
    background-color: #5F6062;
    height: 100px;
    width: 100%;
}
    


.stocksPurchased{
    color:white;
    font-family: 'Poiret One', cursive;
    margin:auto;
    justify-content: space-around;
}


form {
    width: 85%;
}

.stockContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: #5F6062;
    color: white;
    font-family: 'Poiret One', cursive;

    
}

.profileNetWorth span {
    padding: 0% 5%; 
}

.profileLiquidAssets span{
    padding: 0% 6%;
}

button {
    border: none;
    background-color: #447604;
    color: white;
    font-family: 'Bitter', serif;
    padding: 5px 8px;
    margin: 10px 0px;
}