.header{
font-family: 'Poiret One', cursive;
background-color:rgb(117, 173, 89);
font-size:20px;
color:white;
padding-left: 10px;
}

#fantasystock{
font-size:50px;
color:white;
font-family:'Bitter', serif;
padding-bottom: 5px;
font-size:10vw;
}